<html>
<head>
	<title>Pagina Principal</title>
</head>
<body>
	<h2>Pagina Index.</h2>
	{{ msg }}
	<hr>

	<form action="/inserir/" method="POST">
		{% csrf_token %}
		<input type="text" value"" name="nome" placeholder="Nome...">
		<br/>
		<input type="text" value="" name="idade" placeholder="Idade...">
		<br/>
		<input type="submit" value="Enviar">

	</form>

	<hr>
	{% for pessoa in pessoas %}
		<li>{{ pessoa.nome }} com {{ pessoa.idade }} anos<a href="/excluir/{{pessoa.id}}/">(X)</a></li>
	{% endfor%}
</body>
</html>