<html>
<head>
	<title>Pagina Principal</title>
</head>
<body>
	<h2>Pagina Index.</h2>
	{{ msg }}
	<hr>

	<form action="/inserir/" method="POST">
		{% csrf_token %}
		<input type="text" value="{{pessoa.id}}" name="id" placeholder="ID..." readonly="true">
		<br/>
		<input type="text" value="{{pessoa.nome}}" name="nome" placeholder="Nome...">
		<br/>
		<input type="text" value="{{pessoa.idade}}" name="idade" placeholder="Idade...">
		<br/>
		<input type="text" value="{{pessoa.telefone.telefone}}" name="telefone" placeholder="Telefone...">
		<br/>
		<input type="submit" value="Enviar">

	</form>

	<hr>

	<form action="/pesquisar/" method="GET">
		<input type="text" value="" name="busca" placeholder="Buscar...">
		<br>
		<input type="submit" value="Buscar">
	</form>

	<hr>

	{% for pessoa in pessoas %}
		<li><a href="/editar/{{pessoa.id}}/">{{ pessoa.nome }} com {{ pessoa.idade }} anos</a><a href="/excluir/{{pessoa.id}}/">(X)</a>
		{% for tel in pessoa.telefone_set.all %}
			{{ tel.telefone }}
		{% endfor %}
		</li>
	{% endfor%}
</body>
</html>